/* google fonts 
.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/

/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Page styling */
body {
    background-color: #FFFCF3;
    color:black ;
    transition: all 1s;
}

body.switch {
    background-color: #3D3D3D;
    color: white;
}

body.switch section{
    color: black;
}

textPath.switch { 
    fill: white;
    transition: all 1s;
}

textPath{
    transition: all 1s;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    padding-left: 1em;
    padding-right: 1em;
}

#switch{
    width: 150px;
    height: auto;
    cursor: pointer;
}


#banner{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
}

#banner.switch{
    gap: 40px;
}

#banner img{
    min-width: 0;
}

.hover{
    cursor: pointer;
    transition: transform 0.5s ease;
}

#header{
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

text{
    font-size: 60px;
}

h2{
    font-size: 32px;
}

section{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 490px;
    background-image: url(images/menucard.png);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 2em;
}

.hidden{
    display: none;
}

@keyframes slideUp {
    from { transform: translate(-50%, 100vh); }
    to   { transform: translate(-50%, -50%); }
}

@keyframes slideDown {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(-50%, 100vh);  }
}

.slide-up {
    animation: slideUp 0.4s ease forwards;
}

.slide-down {
    animation: slideDown 0.4s ease forwards;
}

section h2{
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    margin: 1em 0;
}

section h3{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
section button{
    all: unset;
    cursor: pointer;
    float: right;
}

section ol{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5em;
    padding-bottom: 1em;
}

section a{
    text-decoration: none;
    color: inherit;
}




